.pagina-login {
    height: 1121px;
    display: flex;
    flex-direction: column;

    .secao-login {
        background-size: cover;
        background-image: url(../../../public/assets/images/su0.png);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .caixinha {
            color: #000000;

            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 400px;
            height: 450px;
            background-color: white;

            .campos {
                display: flex;
                flex-direction: column;

                label {
                    position: relative;
                    left: 15px;
                    margin-top: 10px;
                }

                input {
                    background-color: #e8e8e8;
                    border-style: hidden;
                    border-radius: 20px;
                    padding: 10px;
                    width: 300px;
                }

                #senha {
                    -webkit-text-security: disc;
                    -moz-text-security: disc;
                }
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            button {
                margin-top: 30px;
                padding: 15px;

                font-size: 20px;
                background-color: #3A2E4B;
                color: white;

                border-style: hidden;
                border-radius: 30px;
            }

            button:hover {
                cursor: pointer;
            }

        }
    }

    @media (max-width: 1280px) {
        height: 74em;

        .secao-login {
            .caixinha {
                width: 32em;
                height: 34em;
                border-radius: 3em;

                h1 {
                    font-size: 2.5em;
                }

                .campos {
                    label {
                        font-size: 1.5em;
                        margin-top: 1em;
                    }

                    input {
                        padding: 1em;
                        width: 25em;
                        border-radius: 2em;
                        font-size: 1em;
                    }

                    margin-bottom: 2em;
                }

                button {
                    padding: 0.7em 2.5em;
                    font-size: 2em;
                    border-radius: 3em;
                }
            }
        }
    }
}