@import 'swiper/swiper-bundle.css';

.vitrine-catalogo {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .carrossel {
        border-top: 9px solid #3A2E4B;
        border-bottom: 9px solid #3A2E4B;

        .item-banner {
            height: 500px;
            width: 100%;
        }
    }

    .catalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../../../public/assets/images/gradiente.png);
        background-size: cover;
        padding: 100px;

        .sub-titulo {
            padding: 10px 100px;
            border-radius: 17px;
            font-family: 'Potta One';
            font-size: 25px;
            background-color: #3A2E4B;
            color: white;
            margin-top: -20px;
            margin-bottom: 80px;
        }

        .vt {
            display: flex;
            flex-direction: column;
            padding: 5em 3em;
            justify-content: space-evenly;
            align-items: center;
            background-color: white;
            border-radius: 30px;
            gap: 5em;

            .chaveiros,
            .canetas,
            .acessorios {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2em;

                .categorias {
                    padding: 10px 50px;
                    text-align: center;
                    border-radius: 17px;
                    font-family: 'Potta One';
                    font-size: 25px;
                    background-color: #3A2E4B;
                    color: white;
                    align-self: flex-start;
                    margin-left: 55px;

                }

                .produtos {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                }

            }
        }
    }


    @media(max-width: 1440px) {
        .carrossel {
            .item-banner {
                height: 35em;

                img {
                    width: 100%;
                }
            }
        }

        .catalogo {

            .vt {
                flex-direction: column;
                max-width: none;

                
            }

        }


    }

    @media(max-width: 1280px) {

        .carrossel {
            border-top: 9px solid #3A2E4B;
            border-bottom: 9px solid #3A2E4B;

            .item-banner {
                height: 31em;

                img {
                    width: 100%;
                }
            }
        }

        .catalogo {
            padding: 50px;

            .vt {
                flex-direction: column;
                max-width: none;
            }

        }
    }

    @media(max-width: 1024px) {

        .carrossel {
            border-top: 9px solid #3A2E4B;
            border-bottom: 9px solid #3A2E4B;

            .item-banner {
                height: 25em;

                img {
                    width: 100%;
                }
            }
        }

        .catalogo {
            padding: 50px;

            .vt {
                flex-direction: column;
                width: 95%;
                max-width: none;
                padding: 3em;
            }

        }
    }


}