.pagina-consulta {

    display: flex;
    flex-direction: column;
    background-image: url(../../../public/assets/images/gradiente.png);
    background-size: cover;
    height: 100%;

    .voltar {
        font-size: 28px;
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        margin: 25px 0px 0px 25px;
        width: 351px;

    }

    button {
        background-color: #dacbee;
        border-radius: 50px;
        border: 0px;
        width: 200px;
        height: 70px;
        margin: 50px 0px 50px 100px;
        font-size: 18px;
        cursor: pointer;
    }

    table {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        thead {
            background-color: #b087cc;
            border-radius: 50px;
            width: 1580px;

            tr {
                display: flex;
                justify-content: center;
                gap: 200px;
                align-items: center;
                height: 70px;
            }
        }

        tbody {
            background-color: white;
            border-radius: 50px;
            width: 1580px;

            tr {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                gap: 100px;

                .opcoes {
                    display: flex;
                    gap: 20px;


                    .fa-solid {
                        color: black;
                    }
                }

                .fa-solid:hover {
                    cursor: pointer;
                }

                td {
                    width: 70px;
                }

                #id {
                    width: 10px;
                }

                #desc {
                    width: 150px;
                }

                #nome {
                    width: 80px;
                }

            }
        }
    }

    .naoApertou {
        margin-bottom: 31.6em;

    }

    .apertou {
        margin-bottom: 30px;

    }

    @media (max-width: 1440px) {
        table {
            thead {
                width: 75em;

                tr {
                    justify-content: space-evenly;
                    margin-left: 0px;
                    gap: 6.5em;
                    padding: 0px 50px;
                }
            }

            tbody {
                width: 75em;

                tr {
                    gap: 6.5em;
                    height: 5.5em;

                    td {
                        width: 70px;
                    }

                    #id {
                        width: 10px;
                    }

                    #desc {
                        width: 140px;
                    }

                    #nome {
                        width: 85px;
                    }

                    #cat {
                        margin-left: -40px;
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        table {
            thead {
                width: 75em;

                tr {
                    justify-content: space-evenly;
                    margin-left: 0px;
                    gap: 5.5em;
                    padding: 0px 50px;
                }
            }

            tbody {
                width: 75em;

                tr {
                    gap: 6.5em;
                    height: 5.5em;

                    td {
                        width: 70px;
                    }

                    #id {
                        width: 10px;
                    }

                    #desc {
                        width: 140px;
                    }

                    #nome {
                        width: 85px;
                    }

                    #cat {
                        margin-left: -40px;
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        table {
            thead {
                width: 60em;

                tr {
                    gap: 2em;
                }
            }

            tbody {
                width: 60em;

                tr {
                    gap: 4em;
                    height: 5.5em;

                    td {
                        width: 70px;
                    }

                    #id {
                        width: 10px;
                    }

                    #desc {
                        width: 125px;
                    }

                    #nome {
                        width: 4.5em;
                    }

                }
            }
        }
    }
}