.pagina-inserir-produto {
    height: 1121px;
    background-image: url(../../../public/assets/images/su0.png);
    background-size: cover;
    display: flex;
    flex-direction: column;

    .secao-insert {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .caixinha {

            color: #000000;

            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            width: 43em;
            height: 55em;
            background-color: white;

            .voltar {
                font-size: 30px;
                color: inherit;
                text-decoration: none;
                align-self: flex-start;
                margin-left: 40px;
            }

            .campos {
                gap: 10px;
                display: flex;
                flex-direction: column;
                margin-right: 25px;

                label {
                    font-size: 22px;
                    position: relative;
                    left: 15px;
                    margin-left: 25px;
                }

                input {
                    background-color: #e8e8e8;
                    border-style: hidden;
                    border-radius: 20px;
                    padding: 10px;
                    width: 600px;
                    height: 25px;
                    margin-left: 25px;
                }

                .fa-solid {
                    margin-left: 20px;
                }

                .fa-solid:hover {
                    cursor: pointer;
                }

                .campo-imagem {

                    display: flex;
                    flex-direction: column;
                    border-radius: 50px;
                    gap: 7px;

                    .camp {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 7px;

                        .btimg {
                            padding: 16px 20px;
                            background-color: #e8e8e8;
                            border-radius: 30px;
                            font-size: 16px;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }

                    .fa-solid {
                        cursor: pointer;
                    }

                    input {
                        display: none;
                    }
                }


            }

            button {
                margin-top: 15px;
                margin-left: 23px;
                padding: 15px;
                width: 150px;

                font-size: 20px;
                background-color: #3A2E4B;
                color: white;

                border-style: hidden;
                border-radius: 30px;
                cursor: pointer;
            }

        }

        .secao-imagem {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 32px;
                font-weight: 500;
            }

            .caixinha-imagem {
                display: flex;
                flex-direction: column;
                align-items: center;

                background-color: white;
                border-radius: 40px;
                border: 5px dashed black;
                max-width: 550px;
                max-height: 750px;
                overflow: hidden;

                .semImagem {
                    padding: 10px;
                }
            }
        }
    }

    @media (max-width: 1280px) {

        .secao-insert {

            .caixinha {

                width: 35em;
                height: 47em;

                .voltar {
                    font-size: 22px;
                }

                .campos {

                    label {
                        font-size: 18px;

                    }

                    input {
                        width: 35em;
                        height: 1.5em;

                    }

                    .campo-imagem {
                        .camp {
                            .btimg {
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }

            .secao-imagem {

                .caixinha-imagem {
                    max-width: 450px;
                    max-height: 600px;

                    .semImagem {
                        width: 95%;
                        padding: 10px;
                    }
                }
            }

        }
    }

    @media (max-width: 1024px) {

        .secao-insert {

            .caixinha {

                width: 30em;
                height: 42em;

                .voltar {
                    font-size: 22px;
                }

                .campos {
                    gap: 5px;

                    label {
                        font-size: 18px;

                    }

                    input {
                        width: 30em;
                        height: 1.2em;

                    }

                    .campo-imagem {
                        .camp {
                            .btimg {
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }

            .secao-imagem {

                .caixinha-imagem {
                    max-width: 350px;
                    max-height: 500px;

                    .semImagem {
                        width: 95%;
                        padding: 10px;
                    }
                }
            }

        }
    }
}