.landing-page {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

    .introducao {
       
        background-image: url(../../../public/assets/images/su0.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 880px;
        justify-content: center;


        .titulo {
            
            
            text-align: center;
            color: #635E61;
            font-family: 'Sen';
            font-weight: 500;
            font-size: 90px;
            margin-top: -10px;
        }

        p {
            text-align: center;
            color: #635E61;
            font-family: 'Inter';
            margin-bottom: -10px;
        }
    }

    .gradiente{
        background: linear-gradient(#DFB2E4, #a7edff);
        height: 200px;
    }

    .containers {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #a7edff;

        .container01 {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            padding: 40px 0px;
            margin: 150px 0px 0px 0px;

            background-color: rgba(255, 255, 255, 0.636);
            border: 3px solid white;
            border-radius: 75px;

            text-align: center;
            width: 700px;

            .texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

                width: 310px;

                h1 {
                    font-family: 'Staatliches';
                }

                p {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: 'Sarabun';
                }
            }

            img {
                border-radius: 35px;
                width: 300px;
                height: 350px;

            }
        }

        .container02{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            padding: 40px 0px;
            margin: 150px 0px 0px 0px;

            background-color: rgba(255, 255, 255, 0.636);
            border: 3px solid white;
            border-radius: 75px;

            text-align: center;
            width: 700px;

            .texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

                width: 310px;

                h1 {
                    font-family: 'Staatliches';
                    width: 130px;
                }

                p {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: 'Sarabun';
                }
            }

            img {
                border-radius: 35px;
                width: 300px;
                height: 350px;

            }

        }

        .container03{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            padding: 40px 0px;
            margin: 150px 0px;

            background-color: rgba(255, 255, 255, 0.636);
            border: 3px solid white;
            border-radius: 75px;

            text-align: center;
            width: 700px;

            .texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

                width: 310px;

                h1 {
                    font-family: 'Staatliches';
                    width: 130px;
                }

                p {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: 'Sarabun';
                }
            }

            img {
                border-radius: 35px;
                width: 300px;
                height: 350px;

            }

        }
    }

    .gradientee{
        background: linear-gradient(#a7edff, #F1C4DA);
        height: 60px;
    }

}