.landing-page {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

    .introducao {
        background-image: url(../../../public/assets/images/su0.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 78em;
        justify-content: center;

        .texto-intro {
            display: flex;
            flex-direction: column;
            align-items: center;

            .titulo {
                text-align: center;
                color: #635E61;
                font-family: 'Sen';
                font-weight: 500;
                font-size: 90px;
                margin-top: -10px;
            }

            p {
                text-align: center;
                color: #635E61;
                font-family: 'Inter';
                margin-bottom: -10px;
            }

            h2 {
                font-family: 'Sen';
            }

            h2,
            .fa-solid {
                -webkit-text-stroke: 1.5px black;
                color: white;
                position: relative;
                top: 220px;
                font-size: 30px;
            }
        }
    }

    .gradiente {
        background: linear-gradient(#DFB2E4, #EAE5FF);
        height: 15em;
    }

    .containers {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url(../../../public/assets/images/gradientedois.png);
        background-size: cover;
        padding: 50px 0px;
        gap: 100px;

        .container01,
        .container02,
        .container03 {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            padding: 40px 0px;

            background-color: rgba(255, 255, 255, 0.636);
            border: 3px solid white;
            border-radius: 75px;

            text-align: center;
            width: 700px;

            .texto {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

                width: 310px;

                h1 {
                    font-family: 'Staatliches';
                }

                p,
                li {
                    font-size: 18px;
                    line-height: 21px;
                    font-family: 'Sarabun';
                }
            }

            img {
                border-radius: 35px;
                width: 300px;
                height: 350px;

            }
        }
    }

    .gradientee {
        background: linear-gradient(#E0EEFF, #F1C4DA);
        height: 30px;
    }

    @media (max-width: 1440px) {
        .introducao {
            height: 50em;

            .texto-intro {

                h2,
                .fa-solid {
                    top: 6.5em;
                }
            }

        }

        .containers {

            .container01,
            .container02,
            .container03 {
                padding: 5.5em 2.5em;

                width: 50em;

                .texto {
                    width: 23em;

                    h1 {
                        font-size: 2.5em;
                    }

                    p {
                        font-size: 1.3em;
                    }
                }

                img {
                    width: 20em;
                    height: 22em;
                }
            }
        }
    }

    @media(max-width: 1280px) {

        .introducao {
            height: 45em;

            .texto-intro {

                h2,
                .fa-solid {
                    -webkit-text-stroke: 1.3px black;
                    top: 10em;
                    font-size: 24px;
                }
            }
        }

        .gradiente {
            background: linear-gradient(#DFB2E4, #EAE5FF);
            height: 12em;
        }

        .containers {

            .container01,
            .container02,
            .container03 {
                padding: 1em;

                width: 45em;
            }
        }

        .gradientee {
            height: 10em;
        }

    }

    @media(max-width: 1024px) {

        .introducao {
            height: 36em;

            .texto-intro {

                h2,
                .fa-solid {
                    -webkit-text-stroke: 1.3px black;
                    top: 10em;
                    font-size: 24px;
                }
            }
        }

        .gradiente {
            background: linear-gradient(#DFB2E4, #EAE5FF);
            height: 12em;
        }

        .containers {

            .container01,
            .container02,
            .container03 {
                padding: 1em;

                width: 45em;
            }
        }

    }

    @media(max-width:425px) {
        .introducao {
            .texto-intro {
                .titulo {
                    font-size: 56px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        .containers {

            padding: 0px;
            background-size: contain;

            .container01,
            .container02,
            .container03 {
                padding: 5px;
                width: 20em;
            }
        }
    }

}