.comp-produto{
    display: flex;
    flex-direction: column;

    img{
        width: 11em;
        height: 11em;
        border-radius: 15px;
    }

    .des{
        font-size: 1.1em;
        font-family: 'Roboto';
        font-weight: 600;
        color: #524D4D;
        margin: 10px 0px;
        width: 210px;

    }

    .preço{
        margin: 0px;
        font-size: 1.7em;
        font-family: 'Roboto';
        font-weight: 700;
    }

}