.pagina-admin {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../public/assets/images/gradiente.png);
    background-size: cover;

    .conteúdo {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 970px;

        .voltar {
            align-self: flex-start;
            font-size: 32px;
            color: inherit;
            font-weight: 500;
            margin: 25px 0px 0px 25px;
            border: hidden;
            background-color: transparent;
            cursor: pointer;
        }

        .cont-sup {
            display: flex;
            justify-content: center;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    width: 650px;
                    font-size: 80px;
                    margin-bottom: 0px;
                }

                p {
                    margin-top: 0px;
                    width: 600px;
                    font-size: 30px;

                }
            }

            // .icon {
            //     font-size: 50px;
            //     display: flex;
            //     align-self: start;
            //     position: absolute;
            //     right: 40px;
            //     top: 200px;

            // }
        }

        .botoes {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }
}