.pagina-admin {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../public/assets/images/gradiente.png);
    background-size: cover;

    .conteúdo {
        display: flex;
        flex-direction: column;
        gap: 100px;
        height: 957px;

        .cont-sup {
            margin-top: 50px;
            display: flex;
            justify-content: center;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    width: 650px;
                    font-size: 80px;
                    margin-bottom: 0px;
                }

                p {
                    margin-top: 0px;
                    width: 600px;
                    font-size: 30px;

                }
            }

            .icon {
                font-size: 50px;
                display: flex;
                align-self: start;
                position: absolute;
                right: 40px;
                top: 200px;

            }
        }

        .botoes {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }
}